.tablestyle {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(bg.gif); COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.tdstyle {
	BACKGROUND-IMAGE: url(bg.gif)
}
.tdfocusstyle {
	BACKGROUND-IMAGE: url(bg_focus.gif)
}
A.astyle:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.astyle:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.astyle:active {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.astyle:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.afocusstyle:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.afocusstyle:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.afocusstyle:active {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.afocusstyle:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.ntdstyle {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.ntdfocusstyle {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.ltdstyle {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: white
}
.ltdfocusstyle {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #0000ff
}
A.nastyle:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.nastyle:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.nastyle:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.nastyle:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.nafocusstyle:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.nafocusstyle:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.nafocusstyle:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.nafocusstyle:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.lastyle:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lastyle:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lastyle:active {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lastyle:hover {
	FONT-SIZE: 12px; COLOR: #ee0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lafocusstyle:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lafocusstyle:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lafocusstyle:active {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.lafocusstyle:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
