body
{
	background:#8FB1F3 ;
   font-family: "ËÎÌå", "Arial Narrow", "Times New Roman";
	padding:5px 5px 0% 3px;/*shang£¬you,xia,zuo*/

	SCROLLBAR-FACE-COLOR: #B5D2F7;
	SCROLLBAR-HIGHLIGHT-COLOR: #B4DBFF;
	SCROLLBAR-SHADOW-COLOR:#F0F0F0;
	scrollbar-3dlight-color : threedhighlight;
	SCROLLBAR-ARROW-COLOR: #0065BD;
	SCROLLBAR-TRACK-COLOR: #F0F0F0;
	SCROLLBAR-DARKSHADOW-COLOR: #B5D2F7;
	SCROLLBAR-BASE-COLOR: #B5D2F7;

}

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: WindowText;
	white-space: nowrap;
	height: 16px;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: blue;
	text-decoration: underline;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}
.divTable{
    padding:3px 10px 0% 10px;
    border-width:1px 1px 1px 1px;
    background-color: #8FB1F3;
    font-size:9pt;
    font-family: "ËÎÌå","Arial Narrow", "Times New Roman";
}
