BODY, TD, OL, UL, P, TH, FORM, INPUT, SELECT, TEXTAREA
{
/*	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;*/
	font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
}

BODY
{
	MARGIN: 0pt 0px 0px; BACKGROUND-COLOR: #000000
}

.small
{
	font-size: 9pt;
}

/* 标题文字 */
.title
{
	FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 24px;
}

.bold
{
	font-weight: bold;
}

.footer { FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt;}

h2
{
	font-size: 14pt; font-weight: bold; margin-top: 3pt; margin-bottom: 3pt;
}

P { margin-top: 5pt; margin-bottom: 10pt; }
p.img {	margin-top: 5pt; margin-bottom: 2pt; }
p.imgdesc { margin-top: 1pt; margin-bottom: 10pt; }
/* 需要缩进显示的段落 */
/* p.indent { text-indent: 18pt;}
div.indent { margin-left: 18pt;} */

ul, ol, li { margin-bottom: 3pt; margin-top: 2pt; }

pre
{ font-size: 9pt; font-family: "Courier New"; margin-top: 3pt; margin-bottom: 3pt;}

.code
{ font-size: 9pt; font-family: "Courier New"; color:#990000; }

.path
{ color:#990099;/* font-family: "Courier New";*/}

table.singleborder
{ border-collapse: collapse;}

/*#####################################
// 超链接
#####################################*/

/* 普通超链接 */
A:link		{text-decoration: none; color: #dddddd; }
A:visited	{text-decoration: none; color: #dddddd; }
A:hover		{text-decoration: underline; color: #ffffff; }
/*A:hover		{color:red;}*/

/* 需要加粗显示的普通超链接 */
A.boldlink			{text-decoration: none; color: #ff6600; font-weight: bold; }
A.boldlink:visited	{text-decoration: none; color: #ff6600; font-weight: bold; }
A.boldlink:hover	{color:red; font-weight: bold; }

/* 背景图像不允许重复 */
.bg_norepeat { background-repeat: no-repeat; }

/* 时间格式 */
.datetime { color: #3366CC; font-family: "Courier New", "Courier", "mono"; }

/* 具有水平删除线的文字 */
.delete {  text-decoration: line-through; color: #cccccc}

/* 具有阴影的文字 */
.shadowtext { filter: DropShadow(color: #BBBBBB, OffX: 2, OffY: 2, Positive: 1);}

/* 水平横线 */
hr {color: #4ea582; size: 1pt; height: 1pt;}

/* 重要的信息 */
.importance {color: #0066FF; font-weight: bold;}
/* 不重要的信息 */
.unimportance {color: #999999;}

/* 错误的信息 */
.error {color: #ff0000;}

/* 设置鼠标指针为手形 */
.handcur {cursor: hand; }
